* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color:rgb(251, 251, 239);
    color: #333;
    line-height: 1.6;
    overflow: hidden; /*ensures snow doesn't appear outside the visible area*/
}

#snow{
    position:  fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none; /* allows clicks to pass through */
    z-index:0; /* ensures snow is behind other content */
}