{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Santas Resort{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- SVG container for falling snow animation across the page  -->
    <svg id="snow"></svg>
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="{% url 'home' %}" class="logo">Santas Resort</a>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Book Stay</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2025 Santas Resort. All rights reserved.</p>
        </div>
    </footer>

    <!-- JS -->
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
